<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--App.configの代替としてコミットしているサンプル構成ファイル
  このファイルは、実際のキー管理用構成ファイルとは異なる構成ファイルであり、実キーを記載していない-->
  <add key="mlb"
       value="{'apiKey':'（MLBデータ取得用のAPIキー）'}" />
  <add key="twitter"
       value="{'consumerKey':'（TwitterBot用のConsumerキー）',
               'consumerSecret':'（TwitterBot用のConsumerシークレット）',
               'accessKey':'（TwitterBot用のAccessキー）',
               'accessSecret':'（TwitterBot用のAccessシークレット）'}" />
</configuration>